

.intro {
    text-align: center;
    font-family: sans-serif;
}

#digitalcrafts{
    text-indent: 50px;
    float: none;
    display: inline;
    font-family: sans-serif;
    
    
}

header ul{
    float: right;
    display: inline;
    font-family: sans-serif;
}
    
p {
    font-family: sans-serif;
} 
    

} 
header h1 {
    text-indent: 50px;
    font-family: sans-serif;
}

header h1{
    
    /*border: solid 1px black;*/
    font-family: sans-serif;
} 

.bluebox {
    background: #429bf5;
    border-radius: 5px;
    display: inline;
    float: middle;
    margin: 350px;
    padding: 8px;
}

body {
    margin: 200px;
    background-color: #d2d2d4;
    padding: 10px;
}

.one {
    display: inline-table;
}
li {
    padding: 7px;
    font-family: sans-serif;
}

button {
    background-color: #bebef3;
    color: white;
    margin: auto;
    display: block;
}

.date {
    color: gray;
    text-transform: uppercase;
    font-size: smaller;
    font-family: sans-serif;
}


/*
header h1 {
    border: solid 1px blue;
    width: 50%; 
    display: inline-block;
}


header nav {
    border: solid 1px green;
    width: 50%;
    display: inline-block;
}
*/